*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html{
    font-size: 18px;
}

@media screen and (max-width: 850px) {
    html{
        font-size: 14px;
    }
}

.header{
    display: block;
    position: fixed;
    width: 100vw;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 0.05px 20px #dddeec;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 12px 0;
    z-index: 200;
}

.nav__logo{
    max-width: 120px;
    margin-block: 10px;
}

.nav__list--header, .nav__list--footer{
    display: flex;
    align-items: center;
}

.nav__item{
    padding: 0 10px;
    color: #282938;
    font-size: 0.8rem;
    font-weight: 500;
}

.nav__link{
    color: #282938;
}

.nav__link:hover{
    color: #5E3BEE;
}

.menu-icons{
    color: #5E3BEE;
}

.menu-btn{
    background-color: inherit;
    border: none;
}

/*Burguer Menu*/

.menu--open,
.menu--close {
    display: none;
}

.transition{
    transition: .5s;
}

@media screen and (max-width: 675px) {
    .menu--open,
    .menu--close{
        display: block;
    }

    .nav .button{
        display: none;
    }

    #content-nav > .menu-btn{
        position: absolute;
        right: 7%;
        top: 30%;
    }

    .nav__list--header{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position:absolute;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #F5FCFF;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        opacity: 0;
        visibility: hidden;
    }


    .nav--visible {
        opacity: 1;
        visibility: visible;
    }

}

.button{
    background-color: #fff;
    color: #5E3BEE;
    border: 1px solid #5E3BEE;
    padding: 15px 15px;
    border-radius: 3px;
    cursor: pointer;
    max-width: 160px;
    font-size: 0.8rem;
}

.landing{
    height: auto;
    display: flex;
    width: 100%;
    box-shadow: 0px 1px 5px gray;
    background-color: #F5FCFF;
    min-height: 100vh;
}

.landing__content{
    height: 77vh;
    display: flex;
    margin-top: 12%;
    width: 100%;
    justify-content: space-evenly;
    margin-inline: 40px;
    margin-bottom: 3%;
}


.landing__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing__span{
    padding: 10px 0px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #282938;
}

.landing__title{
    padding: 10px 0px;
    color: #282938;
    font-size: 3rem;
}

.landing__description{
    padding: 10px 0px;
    color: #282938;
    font-weight: 400;
    font-size: 1rem;
}

.landing__title--blue{
    color: #5E3BEE;
}

.button--blue{
    margin-top: 20px;
    padding: 15px;
    background-color: #5E3BEE;
    color: #fff;
}

.flex-end{
    display: flex;
    height: fit-content;
    align-items: end;
    justify-content: center;
}

.landing__right{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 75%;
}

.justify-center{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

@media screen and (max-width: 785px) {
    .landing__right{
        display: none;
    }

    .justify-center{
        max-width: 100%;
    }
}

.landing__overhide{
    background-color: #caddec;
    min-height: 30vmax;
    min-width: 40vmax;
    border-radius: 40px;
}

.landing__photo-container{
    position: absolute;
    display: flex;
    align-items: center;
}

.landing__photo{
    max-height: 38vmax;
    z-index: 0;
}

.container{
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__text{
    display: block;
    margin: 4%;
}

.container__span{
    color: #282938;
    font-size: 0.8rem;
    font-weight: 500;
}

.container__title{
    color: #282938;
    padding: 15px 0px;
    font-size: 2.63rem;
}

.container__div{
    display: grid;
    gap: 2rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    margin-inline: 4%;
    margin-bottom: 4%;
}

@media screen and (max-width: 575px) {
    #container__div{
        margin: auto;
    }
}

.container__cards{
    background-color: #F5FCFF;
    border-radius: 10px;
    width: 270px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.container__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    min-height: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 10px #dfe6eb;
    color: #2a5852;
    font-size: larger;
}

.card__title{
    font-size: 1.38rem;
    color: #282938;
    padding-block: 20px;
}

.card__description{
    color: #282938;
    font-size: 0.8rem;
}

.container__footer{
    display: flex;
    width: 100%;
    background-color: #2a5852;
    min-height: 50px;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

i{
    font-size: xx-large;
    color: #fff;
}

.container--about{
    margin-top: 8%;
    margin-inline: 3%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.container__bio{
    font-size: 0.8rem;
    padding-block: 1px;
}

.container__button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container__photo--end-flex{
    margin-top: 4%;
}

.container__cards--portfolio{
    margin: 10px;
    transition: .3s ease all;
}

.photo__portfolio{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 5px gray;
}

.container__bio--portfolio-desc{
    text-decoration: none;
    color: #282938;
}

.container__text--flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button--linkedin{
    font-size: 1.88rem;
    padding-inline: 30px;
}

.button--blue-linkedin{
    padding: 15px;
    background-color: #E62872;
    border: none;
    color: #fff;
}

/*Carousel*/

.container__portfolio{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.container__div--portfolio{
    display: flex;
    flex-direction: column;
}

.carousel{
    display: flex;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: 0 50px !important;
}

.arrow{
    position: absolute;
    border: none;
    background-color: none;
    font-size: 2.5rem;
    height: 10%;
    top: calc(50% - 10%);
    line-height: 40px;
    width: 50px;
    opacity: 20%;
    cursor: pointer;
    z-index: 3;
    transition: .2s ease all;
}

.arrow i{
    color: #2a5852;
}

.arrow:hover{
    opacity: 100%;
    background-color: none;
}

.left--arrow{
    left: 0px;
}

.right--arrow{
    right: 0px;
}

.container__pointer .glider-dot{
    display: block;
    width: 30px;
    height: 8px;
    background-color: black;
    opacity: .2;
    border-radius: 0;
}

.container__pointer .glider-dot:hover{
    opacity: .5;
}

.container__pointer .glider-dot.active{
    opacity: 1;
}

.container--testimonials{
    background-color: #F5FCFF;
}

.container__grid{
    /*padding: 20px 0;
    display: grid;
    gap: 2rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    margin-inline: 4%;*/

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    min-height: 350px;
}

@media screen and (max-width: 900px) {
    .container__grid {
    grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px) {
    .container__grid {
    grid-auto-columns: 100%;
    }
}

.wrap{
    margin-inline: auto;
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

.no-transition{
    scroll-behavior: auto;
}

.grid__description{
    font-size: 0.8rem;
}

.dragging{
    cursor: grab;
    user-select: none;
}

.grid__cards{
    scroll-snap-align: start;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #006B6A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
    margin: 1px;
}

.grid__cards--skills{
    background-color: #F5FCFF;
    justify-content: flex-start;
    border-radius: 10px;
    border: none;
    max-width: 350px;
}

.grid__title{
    color: #006B6A;
    font-size: 1.38rem;
}

.profile__photo{
    width: 100%;
    max-width: 50px;
    border-radius: 100px;
}

.profile__name{
    font-size: 0.9rem;
}

.container__name-profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-inline: 10px;
}

.container__profile{
    display: flex;
}

.form{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.text--contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text{
    resize: none;
    min-height: 30px;
    width: 100%;
}

.selecter{
    width: 100%;
    height: 45px;
    line-height: 45px;
    border: 1px solid #5E3BEE;
    border-radius: 8px;
    padding: 0px 40px 0 10px;
}

.text{
    border: 1px solid #5E3BEE;
    border-radius: 8px;
    padding: 15px 40px 0 10px;
}

.form__label{
    display: block;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    color: #282938;
}

.form__input-group{
    position: relative;
}

.form__input{
    width: 100%;
    background-color: #fff;
    border: 1px solid #5E3BEE;
    border-radius: 8px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .1s ease all;
}

.form__input:focus{
    border: 2px solid #5E3BEE;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.form__input-error{
    font-size: 0.8rem;
    margin-bottom: 0;
    display: none;
}

.form__input-error-active{
    display: block;
}

.form__validate-status{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 0;
    font-size: 1rem;
    opacity: 0;
}

.form__group--selecter,
.form__group-btn-send,
.form__message,
.form__group--text-area{
    grid-column: span 2;
}

.form__message{
    height: 45px;
    line-height: 45px;
    background-color: #F66060;
    padding: 0 15px;
    border-radius: 8px;
    display: none;
}

.form__message-active{
    display: block;
}

.form__group-btn-send{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 20px;
}

.form__button{
    height: 45px;
    width: 30%;
    transition: .1s ease all;
    text-transform: uppercase;
    min-width: 80px;
}

.form__button:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.form__message-success{
    font-size: 0.8rem;
    margin-block: 20px;
    color: #119200;
    display: none;
}

.form__message-success-active{
    display: block;
}
/*Validaciones*/
.form__group-good .form__validate-status{
    color: #1ed12d;
    opacity: 1;
}

.form__group-bad .form__label{
    color: #bb2929;
}

.form__group-bad .form__validate-status{
    color: #bb2929;
    opacity: 1;
}

.form__group-bad .form__input{
    border: 2px solid #bb2929;
}

.error_message{
    display: flex;
    align-items: center;
    gap: 5px;
}

.error__icon{
    color: black;
}

/*Form Media Queries*/
@media screen and (max-width: 750px) {
    .form {
        grid-template-columns: 1fr;
    }

    .form__group--selecter,
    .form__group-btn-send,
    .form__message,
    .form__group--text-area{
        grid-column: 1;
    }
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    background-color: #F5FCFF;
    margin-bottom: 5vh;
    padding: 70px;
}

.footer > .nav{
    z-index: 0;
}

.footer_span{
    font-size: 0.8rem;
}

.footer__list--border{
    border-top: 1px solid #282938;
    padding-top: 20px;
}

.footer--padding-bottom{
    padding-bottom: 20px;
}

.non-padding-inline{
    padding-inline: 0;
}

.footer__icon{
    font-size: small;
    color: #ff5a75;
}

.footer__socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__icon{
    background-color: white;
    color: #282938;
    margin-inline: 5px;
}

.socials__icon:hover{
    color: #5E3BEE;
}

.text-balance{
    text-wrap: balance;
}

.text-pretty{
    text-wrap: pretty;
}

.img--responsive{
    width: 100%;
    max-width: 400px;
    aspect-ratio: 6.2/8;
    object-fit: cover;
}

@media screen and (max-width: 535px) {
    #footer__bottom{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .non-padding-left{
        padding-left: 0;
    }
}

@media screen and (max-width: 415px) {
    .footer--padding-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 955px){
    #footer__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
        gap: 15px;
    }

    #footer__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-block: 8px;
        gap: 8px;
    }
}

.margin-block{
    margin-block: 3rem;
}

.padding-block{
    padding-block: 1rem;
}