*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header{
    display: block;
    position: fixed;
    width: 100vw;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 0.05px 20px #dddeec;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 12px 0;
}

.nav__logo{
    width: 100%;
    max-width: 50px;
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav__item{
    padding: 0 10px;
    color: #282938;
    font-size: 13px;
    font-weight: 500;
}

.nav__link{
    color: #282938;
}

.nav__link:hover{
    color: #5E3BEE;
}

.button{
    background-color: #fff;
    color: #5E3BEE;
    border: 1px solid #5E3BEE;
    padding: 0px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.landing{
    height: 100vh;
    display: flex;
    width: 100%;
    box-shadow: 0px 1px 5px gray;
    background-color: #F5FCFF;
}

.landing__content{
    height: 77vh;
    display: flex;
    margin-top: 12%;
    width: 100%;
    justify-content: space-between;
    margin-inline: 40px;
}


.landing__left{
    margin-top: 7%;
    width: 47vw;
    padding-left: 10px;
}

.landing__span{
    padding: 10px 0px;
    font-size: 14px;
    font-weight: bold;
    color: #282938;
}

.landing__title{
    padding: 10px 0px;
    color: #282938;
    font-size: 48px;
}

.landing__description{
    padding: 10px 0px;
    color: #282938;
    font-weight: 400;
    font-size: 16px;
}

.landing__title--blue{
    color: #5E3BEE;
}

.button--blue{
    margin-top: 20px;
    padding: 15px;
    background-color: #5E3BEE;
    color: #fff;
}

.landing__right{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.landing__overhide{
    background-color: #caddec;
    min-height: 300px;
    max-height: 300px;
    min-width: 450px;
    border-radius: 40px;
    margin-top: 23.1%;
}

.landing__photo-container{
    position: absolute;
    display: flex;
    align-items: center;
}

.landing__photo{
    max-width: 300px;
    z-index: 0;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* box-shadow: 0px 15px 10px -15px gray;*/
}

.container__text{
    display: block;
    padding-top: 4%;
    margin-inline: 4%;
}

.container__span{
    color: #282938;
    font-size: 14px;
    font-weight: 500;
}

.container__title{
    color: #282938;
    padding: 15px 0px;
    font-size: 42px;
}

.container__div{
    display: grid;
    gap: 2rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    margin-inline: 4%;

}
/*  display: flex;
    justify-content: space-between;
    margin-inline: 4%;
    gap: 1rem;*/
.container__cards{
    background-color: #F5FCFF;
    border-radius: 10px;
    width: 270px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.container__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    min-height: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 10px #dfe6eb;
    color: #2a5852;
    font-size: larger;
}

.card__title{
    font-size: 22px;
    color: #282938;
    padding-block: 20px;
}

.card__description{
    color: #282938;
    font-size: 14px;
}
/*#2a5852  #282938*/
.container__footer{
    display: flex;
    width: 100%;
    background-color: #2a5852;
    min-height: 50px;
    justify-content: space-around;
    align-items: center;
}

i{
    font-size: xx-large;
    color: #fff;
}

.container--about{
    margin: 0;
    margin-inline: 3%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.container__bio{
    font-size: 14px;
    text-align: justify;
    padding-block: 3px;
}

.container__button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container__photo--end-flex{
    margin-top: 4%;
}

.container__cards--portfolio{
    margin: 10px;
    transition: .3s ease all;
}

.photo__portfolio{
    width: 100%;
}

.container__bio--portfolio-desc{
    text-decoration: none;
    color: #282938;
}

.container__text--flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button--linkedin{
    font-size: 30px;
    padding-inline: 30px;
}

.button--blue-linkedin{
    padding: 15px;
    background-color: #E62872;
    border: none;
    color: #fff;
}

/*Carousel*/

.container__portfolio{
    display: flex;
    align-items: center;
    position: relative;
}

.container__div--portfolio{
    display: flex;
    flex-direction: column;
}

.carousel{
    display: flex;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.arrow{
    position: absolute;
    border: none;
    background-color: none;
    font-size: 40px;
    height: 10%;
    top: calc(50% - 10%);
    line-height: 40px;
    width: 50px;
    opacity: 20%;
    cursor: pointer;
    z-index: 3;
    transition: .2s ease all;
}

.arrow i{
    color: #2a5852;
}

.arrow:hover{
    opacity: 100%;
    background-color: none;
}

.left--arrow{
    left: -40px;
}

.right--arrow{
    right: -40px;
}

.container__pointer .glider-dot{
    display: block;
    width: 30px;
    height: 8px;
    background-color: black;
    opacity: .2;
    border-radius: 0;
}

.container__pointer .glider-dot:hover{
    opacity: .5;
}

.container__pointer .glider-dot.active{
    opacity: 1;
}

.container--testimonials{
    background-color: #F5FCFF;
}

.container__grid{
    padding: 20px 0;
    display: grid;
    gap: 2rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    margin-inline: 4%;
}

.grid__cards{
    border-radius: 5px;
    border: 1px solid #006B6A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
}

.grid__cards--skills{
    background-color: #F5FCFF;
    justify-content: flex-start;
    border-radius: 10px;
    border: none;
}

.grid__title{
    color: #006B6A;
}

.profile__photo{
    width: 100%;
    max-width: 50px;
    border-radius: 100px;
}

.container__name-profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-inline: 10px;
}

.container__profile{
    display: flex;
}

.form{
    background-color: #E5E5E5;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.text{
    resize: none;
    min-height: 30px;
    width: 100%;
    /*form-sizing:content;*/
}

.selecter{
    width: 100%;
}

.form__label{
    display: block;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
}

.form__input-group{
    position: relative;
}

.form__input{
    width: 100%;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.form__input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.form__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.form__input-error-active{
    display: block;
}

.form__validate-status{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.form__group--selecter,
.form__group-btn-send,
.form__message,
.form__group--text-area{
    grid-column: span 2;
}